<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Panel</title>

    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.jpg">

    <!-- Custom fonts for this template-->
    <link href="/css/adminpage/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">

    <!-- Custom styles for this template-->
    <link href="/css/adminpage/sb-admin-2.min.css" rel="stylesheet">

    <!-- Table css-->
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:insert="~{fragments/fragments :: adminsidebar}"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:insert="~{fragments/fragments :: admintopbar}"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Playlists</h1>


                <!-- Data -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable">

                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Track List</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each=" playlist : ${playlists}">
                                    <td th:text="${playlist.title}"></td>

                                    <td>

                                                <div class="input-group flex-nowrap">
                                                    <select  class="" data-size="10" data-style="btn-light" style="height: 40px; width: 200px;">
                                                        <option selected>View Tracks</option>
                                                        <option disabled
                                                                th:each="track : ${playlist.tracklist}"
                                                                th:value="${track.title}"
                                                                th:text="${track.title}"></option>
                                                    </select>
                                                </div>
                                    </td>
                                    <td>
                                        <form th:action="@{/admin/playlist/{id}(id = ${playlist.id})}"
                                              method="post">
                                            <button class="btn btn-danger" role="button">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:insert="~{fragments/fragments :: adminfooter}"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:insert="~{fragments/fragments :: logout}"></th:block>

<!-- Bootstrap core JavaScript-->
<script src="/js/adminpage/jquery/jquery.min.js"></script>
<script src="/js/adminpage/boostrap/bootstrap.bundle.js"></script>

<!-- Core plugin JavaScript-->
<script src="/js/adminpage/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/adminpage/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/js/adminpage/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/adminpage/demo/chart-area-demo.js"></script>
<script src="/js/adminpage/demo/chart-pie-demo.js"></script>


<script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>


</body>

</html>
