<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Panel</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.jpg">

    <!-- Custom fonts for this template-->
    <link href="/css/adminpage/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/adminpage/sb-admin-2.min.css" rel="stylesheet">

    <!-- Table css-->
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:insert="~{fragments/fragments :: adminsidebar}"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:insert="~{fragments/fragments :: admintopbar}"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Genres</h1>


                <!-- Data -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable">

                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each=" genre : ${genres}">
                                    <td th:text="${genre.name}"></td>
                                       <!-- TODO DELETE GENRE? <form th:action="@{/admin/users/disable/{username}(username = ${user.username})}"
                                              method="post">
                                            <button class="btn btn-danger" role="button">
                                                Disable
                                            </button>
                                        </form>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:insert="~{fragments/fragments :: adminfooter}"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Logout Modal-->
<th:block th:insert="~{fragments/fragments :: logout}"></th:block>

<!-- Bootstrap core JavaScript-->
<script src="/js/adminpage/jquery/jquery.min.js"></script>
<script src="/js/adminpage/boostrap/bootstrap.bundle.js"></script>

<!-- Core plugin JavaScript-->
<script src="/js/adminpage/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/adminpage/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/js/adminpage/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/adminpage/demo/chart-area-demo.js"></script>
<script src="/js/adminpage/demo/chart-pie-demo.js"></script>

<script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready( function () {
        $('#dataTable').DataTable();
    } );
</script>

</body>

</html>
