<!doctype html>
<html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ride pal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.jpg">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/audioplayer.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/gijgo.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/generate.css">
    <link rel="stylesheet" href="/css/customindex.css">

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Reference to the Bing Maps SDK -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom styles for user information-->
    <link href="/css/adminpage/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/adminpage/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/css/loading.css" rel="stylesheet">

    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>

</head>

<body id="page-top">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- header-start -->
<th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
<!-- header-end -->

<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider_text text-center ">
                        <h3>Ride Pal </h3>
                        <h4 class="front-user-info" style="color: #eaa07d;">Play millions of songs ad-free, from your
                            favourite genres while
                            traveling.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- music_area  -->
<div sec:authorize="!isAuthenticated()">
    <div class="music_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider_text text-center ">
                        <a href="/login" class="lgn-btn">
                            GET STARTED
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- music_area end  -->

<!-- about_area  -->
<div class="slider_area" sec:authorize="isAuthenticated()">
    <div id="generateDiv">
        <div class="slider_text text-center ">
            <h4 id="genPlaylist">Generate playlist</h4>
        </div>
        <div class="container" id="container">
            <form th:action="@{/playlist/generate}" th:object="${playlist}" method="post" id="theForm">

                <div th:if="${error != null}">
                    <div class="alert alert-danger">
                        <span th:text="${error}"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h4 class="pickLocation">Your playlist name</h4>
                        <div class="form-group">
                            <label>Name:</label>
                            <input th:field="*{name}" type="text" name="name" placeholder="Name"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Name'"
                                   required=true
                                   autofocus="true"
                                   class="single-input-primary">
                            <br>

                            <h4 class="pickLocation">Selects travel locations</h4>

                            <label for="searchBox">From:</label>
                            <div id='searchBoxContainer'>
                                <input th:field="*{from}" type="text" name="from" placeholder="From"
                                       onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'From'"
                                       required="true"
                                       class="single-input-primary"
                                       id="searchBox">
                            </div>


                            <div class="form-group">
                                <label for="searchBoxAlt">To:</label>
                                <div id='searchBoxContainerAlt'>
                                    <input th:field="*{to}" type="text" name="to" placeholder="To"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'To'"
                                           required="true"
                                           class="single-input-primary"
                                           id="searchBoxAlt">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col">
                        <h4 class="pickLocation2 justify-content-center">Add genres</h4>
                        <div class="row justify-content-start">
                            <div class="img-container" th:each="genre : ${genres}">
                                <label th:for="${genre.name}"><img class=""
                                                                   th:src="${genre.picture}"/>
                                    <input type="checkbox" th:field="*{genres}" name="genres"
                                           th:value="${genre.id}"
                                           th:id="${genre.name}"
                                           value="0"/>
                                    <i class="error" th:errors="*{genres}"></i>
                                    <div style="font-size: x-large; font-weight: bold;" class="centered"
                                         th:text="${genre.name}"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <script
                        type="text/javascript"
                        src="https://www.bing.com/api/maps/mapcontrol?callback=bingMapsReady"
                        async defer></script>


                <div class="generate-col">
                    <input type="submit" class="lgn-btn" id="loadBtn" value="Make Magic"/>
                </div>

            </form>
        </div>
    </div>
</div>
<!--/ about_area  -->

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Top playLists  -->
<div class="youtube_video_area" id="playlists">
    <div class="container">
        <div class="row align-items-center">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-65">
                        <h3>Random Playlists</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div th:each="playlist4 : ${playlists}" class="col-xl-3 col-lg-3 col-md-6">
                <div class="single_video">
                    <div class="thumb">
                        <img th:src="${playlist4.getPicUrl()}" alt="">
                    </div>
                    <div class="hover_elements">
                        <div class="video">
                            <a
                                    th:href="${'/playlist/' + playlist4.id}">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>

                        <div class="hover_inner">
                            <span th:text="${'&copy; Created by ' + playlist4.getUsername() + '.'}"></span>
                            <div>
                                <span style="color: white">Genre: </span><span
                                    th:each="genre : ${playlist4.getGenreList()}" th:text="${genre.name} + ' '"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Top playLists  -->

<!-- footer start -->
<th:block th:insert="~{fragments/footer :: footer}"></th:block>
<!--/ footer end  -->

<!-- Logout Modal-->
<th:block th:insert="~{fragments/fragments :: logout}"></th:block>

<!-- JS here -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/homepage/popper.min.js"></script>
<script src="/js/homepage/bootstrap.min.js"></script>
<script src="/js/homepage/owl.carousel.min.js"></script>
<script src="/js/homepage/isotope.pkgd.min.js"></script>
<script src="/js/homepage/ajax-form.js"></script>
<script src="/js/homepage/waypoints.min.js"></script>
<script src="/js/homepage/jquery.counterup.min.js"></script>
<script src="/js/homepage/imagesloaded.pkgd.min.js"></script>
<script src="/js/homepage/audioplayer.js"></script>
<script src="/js/homepage/scrollIt.js"></script>
<script src="/js/homepage/jquery.scrollUp.min.js"></script>
<script src="/js/homepage/wow.min.js"></script>
<script src="/js/homepage/nice-select.min.js"></script>
<script src="/js/homepage/jquery.slicknav.min.js"></script>
<script src="/js/homepage/jquery.magnific-popup.min.js"></script>
<script src="/js/homepage/plugins.js"></script>
<script src="/js/homepage/gijgo.min.js"></script>
<script src="/js/homepage/slick.min.js"></script>
<!--contact js-->
<script src="/js/homepage/contact.js"></script>
<script src="/js/homepage/jquery.ajaxchimp.min.js"></script>
<script src="/js/homepage/jquery.form.js"></script>
<script src="/js/homepage/jquery.validate.min.js"></script>
<script src="/js/homepage/mail-script.js"></script>

<script src="/js/homepage/main.js"></script>
<script src="/js/bingMaps.js"></script>
<script src="/js/selectPicture.js"></script>


<script>
    $('#loadBtn').click(function () {
        $('#theForm').submit();
        $('#container').html("  <div class=\"d-flex justify-content-center h-100 row align-items-center\">\n" +
            "            <div class=\"loader\">\n" +
            "        </div>\n" +
            "        </div>").css({"padding-top": "200px"});

    });

</script>

</body>

</html>