<!doctype html>
<html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ride pal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.jpg">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/audioplayer.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/gijgo.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/generate.css">
    <link rel="stylesheet" href="/css/customindex.css">

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Reference to the Bing Maps SDK -->

    <!-- Custom styles for user information-->
    <link href="/css/adminpage/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/adminpage/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/css/loading.css" rel="stylesheet">

    <style>
        html {
            scroll-behavior: smooth;
        }
        .slider_area .single_slider {
            height: 120px;
        }

    </style>

</head>

<body id="page-top">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- header-start -->
<th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
<!-- header-end -->

<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">

    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Top playLists  -->
<div class="youtube_video_area" id="playlists">
    <div class="container">
        <div class="row align-items-center">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-65">
                        <h3>Playlists</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div th:each="playlist : ${playlists}" class="col-xl-3 col-lg-3 col-md-6">
                <div class="single_video">
                    <div class="thumb">
                        <img th:src="${playlist.getGenreList().get(0).getPicture()}" alt="">
                    </div>
                    <div class="hover_elements">
                        <div class="video">
                            <a
                                    th:href="${'/playlist/' + playlist.id}">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>

                        <div class="hover_inner">
                            <span style="font-weight: 900; font-size: large;" th:text="${'&copy; Created by ' + playlist.getUsername() + '.'}"></span>
                            <div>
                                <span style="color: white; font-weight: 900; font-size: large;" th:text="${'Duration: ' + #numbers.formatInteger(playlist.duration/3600,2) + ':' +
                                 #numbers.formatInteger((playlist.duration%3600)/60,2) + ':' + #numbers.formatInteger(playlist.duration%60,2)}"></span>
                            </div>
                            <div>
                                <span style="font-weight: 900;">Genre: </span><span th:each="genre : ${playlist.getGenreList()}" th:text="${genre.name} + ' '"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Top playLists  -->

<!-- footer start -->
<th:block th:insert="~{fragments/footer :: footer}"></th:block>
<!--/ footer end  -->

<!-- Logout Modal-->
<th:block th:insert="~{fragments/fragments :: logout}"></th:block>

<!-- JS here -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/homepage/popper.min.js"></script>
<script src="/js/homepage/bootstrap.min.js"></script>
<script src="/js/homepage/owl.carousel.min.js"></script>
<script src="/js/homepage/isotope.pkgd.min.js"></script>
<script src="/js/homepage/ajax-form.js"></script>
<script src="/js/homepage/waypoints.min.js"></script>
<script src="/js/homepage/jquery.counterup.min.js"></script>
<script src="/js/homepage/imagesloaded.pkgd.min.js"></script>
<script src="/js/homepage/audioplayer.js"></script>
<script src="/js/homepage/scrollIt.js"></script>
<script src="/js/homepage/jquery.scrollUp.min.js"></script>
<script src="/js/homepage/wow.min.js"></script>
<script src="/js/homepage/nice-select.min.js"></script>
<script src="/js/homepage/jquery.slicknav.min.js"></script>
<script src="/js/homepage/jquery.magnific-popup.min.js"></script>
<script src="/js/homepage/plugins.js"></script>
<script src="/js/homepage/gijgo.min.js"></script>
<script src="/js/homepage/slick.min.js"></script>
<!--contact js-->
<script src="/js/homepage/contact.js"></script>
<script src="/js/homepage/jquery.ajaxchimp.min.js"></script>
<script src="/js/homepage/jquery.form.js"></script>
<script src="/js/homepage/jquery.validate.min.js"></script>
<script src="/js/homepage/mail-script.js"></script>

<script src="/js/homepage/main.js"></script>
<script src="/js/bingMaps.js"></script>
<script src="/js/selectPicture.js"></script>


<script>
    $('#loadBtn').click(function () {
        $('#theForm').submit();
        $('#container').html("  <div class=\"d-flex justify-content-center h-100 row align-items-center\">\n" +
            "            <div class=\"loader\">\n" +
            "        </div>\n" +
            "        </div>").css({"padding-top": "300px"});

    });

</script>

</body>

</html>