<!doctype html>
<html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ride pal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.jpg">

    <!-- CSS here -->
    <link href="/css/playlist.css" rel="stylesheet" type="text/css">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
        .container {
            background: url(/img/events.jpg) center/cover;
            margin: 0 auto;
        }

        section  {
            background: url(/img/events.jpg) center/cover;
        }
        .musicplayer {
            margin: 0 auto;
        }

        section h1 {
            font-weight: 900;
        }

        .background {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        audio {
            width: 540px;
            height: 60px;
        }
    </style>
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->


<!-- music_area  -->
<div class="background">

<div class="container-fluid content-center">

    <div style="text-align: center; padding-top: 50px;">
    <a class="btn btn-info" href="/" role="button">Go to Homepage</a>
    </div>

</div>
</div>
<div class="container">
<section>

    <div class="col-md-6 musicplayer">

        <div class="row">
            <div class="">
               <!-- class="profile-img" 420/420-->
            <img  style="width: 500px; height: 420px;" th:src="${firstTrack.getGenre().getPicture()}"/>
            <div class="actions">
                <audio id="audio" preload="auto" tabindex="0" class="justify-content-center" controls="" type="audio/mpeg">
                    <source type="audio/mp3" th:src="${firstTrack.getPreview()}">
                    Sorry, your browser does not support HTML5 audio.
                </audio>
            </div>
            </div>
        </div>
        <div class=" row">
            <div class="">
            <h1 style="color: black" th:text="${playlist.title}"></h1>
           <span th:text="${'&copy; Created by ' + playlist.getUsername() + '.'}"></span>
            </div>
        </div>
            <div class="row">
                <div class="">
            <ol type="1" class="list-group" id="playlist">
                <li th:each=" track : ${playlist.getTracklist()}">
                    <a th:href="${track.getPreview()}">
                        <div  class="col-md-12" th:text="${track.getTitle() + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +  #numbers.formatInteger(track.duration/60,2) + ':' + #numbers.formatInteger(track.duration%60,2)}" style="max-width: 300px"></div>

                    </a>
                </li>
            </ol>
                </div>
        </div>
    </div>

</section>
</div>
<!-- music_area end  -->

<!-- JS here -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<script src="/js/player.js"></script>

</body>

</html>