<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Sign in</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.jpg">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/login/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login/util.css">
    <link rel="stylesheet" type="text/css" href="/css/login/main.css">
    <!--===============================================================================================-->

</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="/img/login/sp.jpg" alt="IMG">
            </div>

            <form th:action="@{/register}" th:object="${user}" method="post" class="login100-form validate-form">
                <fieldset>

                    <div th:if="${error != null}">
                        <div class="alert alert-danger">
                            <span th:text="${error}"></span>
                        </div>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Username is required">
                        <input class="input100" type="text" name="username"
                               th:field="*{username}" placeholder="Username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Password is required">
                        <input class="input100" type="password" name="password"
                               th:field="*{password}" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Confirm password">
                        <input class="input100" type="password" name="password"
                               th:field="*{passwordConfirm}" placeholder="Confirm password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Sign up
                        </button>
                    </div>


                    <div class="text-center p-t-136">
                        <a class="txt2" href="/login">
                            Already have an account? Log In.
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>




<!--===============================================================================================-->
<script src="/js/login/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/js/login/popper.js"></script>
<script src="/js/login/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/js/login/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/js/login/tilt.jquery.min.js"></script>
<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="/js/login/main.js"></script>

</body>
</html>