<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Panel</title>

    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.jpg">

    <!-- Custom fonts for this template-->
    <link href="/css/adminpage/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/adminpage/sb-admin-2.min.css" rel="stylesheet">


    <style>
        .input-group-text {
            width: 122px;
        }
    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:insert="~{fragments/fragments :: adminsidebar}"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:insert="~{fragments/fragments :: admintopbar}"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Users</h1>


                <!-- Data -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable">

                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each=" user : ${users}">
                                    <td th:text="${user.username}"></td>
                                    <td th:if="${user.enabled == 1}">
                                        <form th:action="@{/admin/users/disable/{username}(username = ${user.username})}"
                                              method="post">
                                            <button class="btn btn-danger" role="button">
                                                Disable
                                            </button>
                                        </form>
                                    </td>

                                    <td th:if="${user.enabled == 0}">
                                        <form th:action="@{/admin/users/enable/{username}(username = ${user.username})}"
                                              method="post">
                                            <button class="btn btn-info" role="button">Enable</button>
                                        </form>
                                    </td>
                                    <td>
                                            <button class="btn btn-info" type="button" data-toggle="modal"
                                                    th:attr="data-target='#modal'+${user.username}">Edit User</button>

                                            <!-- Modal -->
                                            <div class="modal fade" th:id="'modal' + ${user.username}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Edit User</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form class="form-style" th:id="'form' + ${user.username}" th:action="@{/admin/users/edit/{username}(username = ${user.username})}"
                                                                  th:object="${updateUser}" method="post"
                                                                  enctype="multipart/form-data">


                                                                <div class="input-group mb-3">
                                                                    <div class="input-group flex-nowrap">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" id="firstName">First name</span>
                                                                        </div>
                                                                        <input th:value="${updateUser.firstName}" pattern=".*[^ ].*" th:field="*{firstName}" type="text" class="form-control input-lg"
                                                                               placeholder="Enter first name..."
                                                                               autofocus="true">
                                                                    </div>
                                                                </div>


                                                                <div class="input-group mb-3">
                                                                    <div class="input-group flex-nowrap">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" id="lastName">Last name</span>
                                                                        </div>
                                                                        <input th:value="${updateUser.lastName}"  pattern=".*[^ ].*" th:field="*{lastName}" type="text" class="form-control input-lg"
                                                                               placeholder="Enter last name..."
                                                                               autofocus="true">
                                                                    </div>
                                                                </div>

                                                                <div class="input-group mb-3">
                                                                    <div class="input-group flex-nowrap">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" id="email">Email</span>
                                                                        </div>
                                                                        <input th:value="${updateUser.email}" th:field="*{email}" type="email" class="form-control input-lg"
                                                                               placeholder="Enter email..."
                                                                               autofocus="true">
                                                                    </div>
                                                                </div>

                                                                <div class="input-group mb-3">
                                                                    <div class="input-group flex-nowrap">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" id="gender">Gender</span>
                                                                        </div>
                                                                        <select th:value="${updateUser.getGender()}" th:field="*{gender}">
                                                                            <option value="Male">Male</option>
                                                                            <option value="Female">Female</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group flex-nowrap">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" id="image">Upload Image</span>
                                                                        </div>
                                                                        <input type="file" accept="image/*"  name="file"/>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary" data-th-form="'form' + ${user.username}" role="button">Save changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:insert="~{fragments/fragments :: adminfooter}"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Logout Modal-->
<th:block th:insert="~{fragments/fragments :: logout}"></th:block>

<!-- Bootstrap core JavaScript-->
<script src="/js/adminpage/jquery/jquery.min.js"></script>
<script src="/js/adminpage/boostrap/bootstrap.bundle.js"></script>

<!-- Core plugin JavaScript-->
<script src="/js/adminpage/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/adminpage/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/js/adminpage/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/adminpage/demo/chart-area-demo.js"></script>
<script src="/js/adminpage/demo/chart-pie-demo.js"></script>

</body>

</html>
