.lgn-btn {
    cursor: pointer;
    color:#FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    background-color: rgb(29, 185, 84);
    color: rgb(255, 255, 255);
    border-width: 0;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 500px;
    padding: 17px 48px;
    box-sizing: border-box;
}

.lgn-btn:hover, .lgn-btn:focus {
    color: #313133;
}

.lgn-btn:hover::before, .lgn-btn:focus::before {
    opacity: 1;
}

.lgn-btn:hover::after, .lgn-btn:focus::after {
    animation: none;
    display: none;
}

.lgn-btn:hover {
text-decoration: none !important;
}

.front-user-info {
    letter-spacing: -0.015em; line-height: 1.5;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    font-weight: 900;
    color: #ff7a3c;
}
