/*.slider_area .single_slider {*/
/*    margin-top: 98px;*/
/*}*/

#genPlaylist {
    font-size: 90px;
    padding-bottom: 50px;
}

.pickLocation {
    font-size: 45px;
}

.pickLocation2 {
    font-size: 45px;
}

body {
    color: #FFFFFF !important;
}

.nav-custom {
    margin-top: -20px;
}

#generateDiv {
    padding: 130px;
    height: 800px;
    margin-bottom: 20px;
}

#playlists {
    padding-top: 120px;
}

.generate-col {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
    justify-content: center;
!important;
    padding: 50px;
}

.slider_text .text-center {
    padding-top: 100px;
}

.bord-image {
    border: 1px solid #00ff08;
    opacity: .7;
}

input[type=checkbox], input[type=radio] {
    display: none;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24pt;
}

label {
    margin: 10px;
}