.loader {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    border: 15px solid #F3F3F3;
    border-left: 15px solid #4CAF50;
    animation: loader 2s linear infinite;
}

@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}