@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

:root {
    --color: #faa700;
    --color-light: #f5ede1;
    --dark: #a7a7a7;
    --dark: #8a8a8a;
    --darker: #303030;
    --sans-serif: 'Roboto', sans-serif;
}

body {
    font-family: var(--sans-serif);
    background: #eeeeee;
}

body {
    background: #0a1a24;
}

.background {
    width: 100%;
    height: 300vh;
    background: url(/img/banner/banner.png) center/cover;
    box-shadow: inset 0px -17vw 20vw 1vw #0a1a24;
    position: absolute;
    top: 0;
    z-index: -1;
}

.background img {
    max-width: 100%;
    max-height: 100vh;
    box-shadow: inset 0px -17vw 30vw 1vw #131313;
}

.background + section {
    margin-top: 60vmin;
    background: transparent;
    --dark: rgba(white, .5);
    --dark: rgba(white, .6);
    --darker: rgba(white, .8);
}

.background + section .bookmark {
    border-color: rgba(255, 255, 255, 0.2);
}

.background + section .bookmark svg {
    fill: #fff;
}

.background + section .album-tracks {
    background: rgba(255, 255, 255, 0.1);
    border: none;
}

section {
    background: #fafafa;
    margin: 100px 56px;
    padding: 20px 56px;
    color: var(--darker);
    color: rgba(255, 255, 255, 0.8);
}

section .album-info:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

section .album-art {
    float: left;
    width: 300px;
    margin-right: 35px;
    margin-bottom: -8px;
}

section .album-art * {
    border-radius: 3px;
}

section .album-art img {
    width: 100%;
    margin-bottom: 10px;
    margin-top: -80px;
    box-shadow: 0 5px 60px -3px rgba(0, 0, 0, 0.18);
}

section .play {
    display: -webkit-box;
    display: flex;
    flex-wrap: initial;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    align-content: initial;
    color: white;
    background: var(--color);
    padding: 10px;
    text-transform: uppercase;
    -webkit-box-flex: 1;
    flex: 1 0 50%;
}

section .album-details > * {
    padding: 15px 0;
}

section h2 {
    display: -webkit-box;
    display: flex;
    flex-wrap: initial;
    -webkit-box-pack: initial;
    justify-content: initial;
    -webkit-box-align: center;
    align-items: center;
    align-content: initial;
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

section h2 img {
    width: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

section h1 {
    font-size: 50px;
    font-weight: 300;
    word-wrap: break-word;
}

section h1 + span {
    color: var(--dark);
}

section h1 + span span:first-child {
    padding-right: 20px;
}

section p {
    margin-top: 15px;
}

section .album-tracks {
    background: #f8f8f8;
    border: 1px solid #efefef;
    margin-top: 20px;
}

@media (max-width: 800px) {
    section {
        margin: 100px 36px 36px 36px;
    }
}

@media (max-width: 700px) {
    section .album-art {
        width: 100%;
    }

    section .album-art img {
        width: auto;
        max-width: 100%;
        margin: -100px auto 10px auto;
        display: block;
    }

    section .album-details {
        float: left;
        max-width: 100%;
    }
}

@media (max-width: 550px) {
    section {
        margin: 100px 20px 20px 20px;
        padding: 20px 16px;
    }

    section ol {
        padding: 16px;
    }
}

ol {
    list-style-type: none;
    padding: 20px 36px;
    font-weight: 500;
    text-decoration: none;
}

ol li {
    counter-increment: number;
    display: -webkit-box;
    display: flex;
    flex-wrap: initial;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    align-content: initial;
    height: 45px;
    color: white;
    text-decoration: none;
    padding-left: 15px;
}

ol li span:not(:last-child) {
    margin-right: 2em;
    text-decoration: none;
}

@media (max-width: 700px) {
    ol li span:not(:last-child) {
        margin-right: 1em;
        text-decoration: none;
    }
}

ol li span:first-child {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    text-decoration: none;
}

ol li span:first-child:before {
    content: counter(number);
    margin-right: 2em;
    color: white;
    display: inline-block;
    text-align: end;
    width: 20px;
    text-decoration: none;
}

.actions {
    display: -webkit-box;
    flex-wrap: initial;
    -webkit-box-pack: initial;
    justify-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    align-content: initial;
    -webkit-box-flex: 1;
    flex: 1 1 100%;
}

.active {
    padding-left: 35px;
}

#playlist,
audio {
    margin-left: -20px;
}

.active a {
    text-decoration: none;
}

li a {
    padding: 5px;
    display: block;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
}

.duration {
    color: white;
    position: absolute;
    right: 215px;
}

.home-btn {
    position: absolute;
    cursor: pointer;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    background-color: rgb(29, 185, 84);
    color: rgb(255, 255, 255);
    border-width: 0;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 500px;
    padding: 17px 48px;
    box-sizing: border-box;
}

