<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- header-start -->
<header th:fragment="navbar">
    <div class="header-area " xmlns:th="http://www.thymeleaf.org">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/">Home</a></li>
                                        <li><a href="/playlists">Playlists</a></li>
                                        <li><a href="#home_footer">Contact</a></li>
                                        <li role="separator" class="separator" sec:authorize="!isAuthenticated() || hasRole('ROLE_ADMIN')"><span>|</span></li>
                                        <li><a href="/register" sec:authorize="!isAuthenticated()">Sign up</a></li>
                                        <li><a href="/login" sec:authorize="!isAuthenticated()">Log In</a></li>
                                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin/users">Admin Panel</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <!-- Topbar Navbar -->
                            <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">

                                <!-- Nav Item - User Information -->
                                <li class="nav-custom">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="mr-2 d-none d-lg-inline text-white font-weight-bolder gj-font-size-16 "
                                              th:text="${currentUser.username}"></span>
                                        <img class="img-profile rounded-circle"
                                             style=" max-width: 50px; max-height: 50px;"
                                             th:src="${currentUser.getPictureURL()}">
                                    </a>
                                    <!-- Dropdown - User Information -->
                                    <div class="dropdown-menu dropdown-menu-xl-right shadow"
                                         aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="/profile">
                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Profile
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#" data-toggle="modal"
                                           data-target="#logoutModal">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Logout
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- header-end -->
</body>
</html>